/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.08.2015, 20:51:02
    Author     : Миха
*/

*{
margin:0;
padding:0;
border:0;
font-family:  Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size:16px;
color:#000;
}

html, body{
	height:100%;
        min-width: 1200px;
}
a{
	color:#58595b;
	font-size:16px;
	
    outline: none; 

}
hr{	border:1px solid #6e7d94;

}
h1,h2,h3,h4,h5,h6{
color:#58595b;
}
h1{
font-size:30px;
}
h2{
font-size:20px;
}
h3{
font-size:18px;
}
h4{
font-size:16px;
}
h5{
font-size:14px;
}
h6{
font-size:12px;
}
ul{
    font-size: 14px;
    margin-left: 50px;
}
#container{
	min-height:100%;
	position:relative;
	/*height:100%;*/
	/*margin-bottom:-170px;*/
}
#header{
	/*background-color:yellow;*/
	height:145px;
	max-width:1280px;
	min-width:1000px;
	margin:0 auto;
}
#header-content{
	height:145px;
	position:relative;
}
#header-content div{
	position:absolute;
}
#header-left{
	height:145px;
	width:33%;
	left:0;
	background-color:white;
}
#header-right{
	height:145px;
	width:33%;
	right:0;
}
#header-right div{
	position:relative;
	
}
#backet{
	margin-top:20px;
	max-width:250px;
	/*margin:20px;*/
}
#quantity{
	/*background-color:;*/
	background:#73a534 url(images/phone_mail_sprite_secret.png) no-repeat -13px -37px;
	height:35px;
	margin:0 20px;
}
#quantity a{
	font-family: Arial, Verdana, sans-serif;
	font-size:14px;
	margin-left:35px;
	padding-left:30px;
	display:block;
	background-color:#8ec63f;
	height:35px;
	line-height: 35px;
	text-decoration:none;
	color:#fff;
}
#quantity a span{
	font-family: Arial, Verdana, sans-serif;
	font-size:14px;
	background-color:#8ec63f;
	text-decoration:none;
	color:#fff;
}
#summ{
	font-family:  Verdana, Arial, sans-serif;
	font-size:19px;
	color:#58595b;
	background-color:#e6e7e9;
	height:35px;
	margin:0 20px;
	padding-left: 65px;
	line-height: 35px;
}
#login{
	margin: 10px 0;
	width:250px;
    text-align:center;
}
#header-right-container{
	display: inline-block;
	position:absolute !important;
	right:0;
	margin-right: 20px;
}
#login-container{
	position:relative;
	display:inline-block;
	height:20px;
	background:url(images/phone_mail_sprite_secret.png) no-repeat -281px -2px;
}

#login-container:hover{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -281px -22px;
}
#login a{
	padding-left: 25px;
	font-family: Arial, Verdana, sans-serif;
	font-size:15px;
	text-decoration:none;
}
#login a:hover{
	color:#FF0000;
}


#login_popup{
	position:absolute !important;
	top:30px;
	right:-80px;
	background:#e6e7e9;
	width:300px;
	height:200px;
	border-radius:5px;
	box-shadow: 0 0 10px rgba(0,0,0);
	z-index: 1;
}

#recall_popup{
	/*position:absolute !important;*/
	background:#e6e7e9;
	width:300px;
	height:200px;
	border-radius:5px;
	box-shadow: 0 0 10px rgba(0,0,0);
	z-index: 1;
}
#recall_popup input{
	margin:10px auto;
	width:200px;
	height:20px;
	border-radius:5px;
	font-size:12px;
	color:#6e7e94;
	text-align:center;
}
#recall_popup input[type=submit]{
	height:30px;
	font-size:18px;
	color:#fff;
}
#recall_popup textarea{
	resize:none;
	height:50px;
	font-size:12px;
	width:200px;
	border-radius:5px;
	color:#6e7e94;
	padding:2px;
}
#recall_popup_block{
	position:static !important;
	margin:0 auto;
	width:200px;
}
#login_popup a{
color:#fff;
}
#login_popup form {
	padding-top:20px;
}
#login_popup form a{
	font-size:10px;
}
#login_popup input{
	margin:10px auto;
	width:200px;
	height:30px;
	border-radius:5px;
}
	
#login_popup input[type=password]{
	/*height: 47px;*/
	border: 1px solid #e6e7e9;
	text-align: center;
	font-size: 18px;
	color: #e6e7e9;
}
	









#header-center{
	height:145px;
	width:34%;
	left:33%;
}
#header-center-left{
	height:145px;
	/*width:180px;*/
	width:50%;
	left:0;
	/*background:#f0f;*/
}
#header-center-left table{
	margin:20px 0;
	
}
#header-center-left table td{
	font-family: Arial, Verdana, sans-serif;
	color:#58595b;
	font-size:18px;
	/*padding:0 0 20px 0;*/
	font-weight: bold;
	
}
#header-center-left td span{
	font-family: Arial, Verdana, sans-serif;
	color:#e6e7e9;
	font-size:14px;
	/*padding:0 0 20px 0;*/
	font-weight: normal;
	
}
#header-center-left table td a{
	font-style: italic;
    font-weight: normal;
	font-size:12px;
	text-decoration:none;
	border-bottom:1px dashed;
	margin-bottom:18px;
	/*display:block;*/
	width:100%;
}
#phone, #mail{
	position:relative !important;
	width:20px;
	height:20px;
	background:url(images/phone_mail_sprite_secret.png) no-repeat;
	margin-right:18px;
}
#phone{
	background-position:0px 0px;
}
#mail{
	background-position:0 -20px;
}
#header-center-right{
	
	height:145px;
	/*width:180px;*/
	width:50%;
	right:0;
	/*background:#00f;*/
}
#header-center-right div {
	margin:20px 0;
}
#header-center-right div p{
	color: #6e7e94;
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.header-social{
	bottom:0; 
	left:0;
	margin-left:-10px !important;
	margin-bottom: 0px !important;
}
.header-social div{
	width:20px;
	height:20px;
	margin:5px;
	/*background:url(images/phone_mail_sprite_secret.png) no-repeat;*/
	/*background:red;*/
	position:relative !important;
}
.header-social div a{
	display:block;
	width:20px;
	height:20px;
	
}


#facebook{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -20px 0;
}
#facebook:hover{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -20px -20px;
}
#twitter{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -43px 0;
}
#twitter:hover{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -43px -20px;
}
#vk{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -66px 0;
}
#vk:hover{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -66px -20px;
}
#ok{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -89px 0;
}
#ok:hover{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -89px -20px;
}
#mailru{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -112px 0;
}
#mailru:hover{
	background:url(images/phone_mail_sprite_secret.png) no-repeat -112px -20px;
}

#logo{
	padding:10px 20px; 
}
#logo a{
	display:block;
	height:110px;
	padding: 0 30px;
    width: 170px;
	/*background:url(images/logo_secret.png) no-repeat center;*/
	background:url(images/logo_secret.png) no-repeat 0px 0px;
	
}
#top-menu{
	height:40px;
	background-color:#E1E4E7;
}
.navigation {
    list-style: none;
	display:table;
	margin: 0 auto;
	height: 100%;
}
.navigation li {
   display:table-cell;
   vertical-align:middle;
}
.navigation li a {
	text-decoration:none;
   font-family:  Verdana, Arial, Geneva, Helvetica, sans-serif;
   text-align: center;
   display:block;
   font-size:16px;
   font-weight:normal;
   color:#000;
   height:40px;
   padding:0 15px;
   line-height: 40px;
}
.navigation li  a:hover{
	background-color:#8EC63F;
	text-decoration:underline;
	color:#fff;
}.navigation li :hover{
	background-color:#e6e7e9;
}
#body{
	height:100%;
	margin:40px;
	min-width:800px;
	max-width:1280px;
	margin:0 auto;
	
}
#body-container{
	padding: 30px 10px 10px;
	min-height:300px;
}
#status{
	background: none repeat scroll 0 0 black;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
	display:none;
}
#stop_search{
	width:128px;
	height:128px;
	position:fixed;
	right:100px;
	top:100px;
	background:url(images/close_white.png) no-repeat;
}
#stop_search a{
	width:128px;
	height:128px;
	display:block;
}
#search-progress{
	position: absolute;
	left: 50%;
	top: 500px;
	background: url(images/processing.gif) no-repeat;
	height:300px;
	width:300px;
	margin:-150px 0 0 -150px;
	color:white;
}
input[type=text], input[type=password]{
	height:47px;
	border:1px solid #6e7d94;
	border-radius:5px;
	width:530px;
	text-align:center;
	font-size:18px;
	color:#58595b;
}
input[type=submit]{
	height:50px;
	border-bottom:4px solid #73a534;
	text-align:center;
	border-radius:5px;
	width:530px;
	background:#8ec63f;
	margin:20px 0;
	cursor:pointer;
	font-size:21px;
	color:#fff;
	outline: none;
}	
input[type=submit]:active{
	background:#dc232a;
	border-bottom:none;
	border-top:4px solid #BD1E2C;
	 outline: none;
}









#partlist{
	min-width:800px;
	max-width:1280px;
	margin:20px auto;
	
}
#partlisttable{
	display:table;
	 border-collapse: collapse;
}
#partlisttable div{
	vertical-align:center;
}
div.div_header, div.div_tr{
	display:table-row;
	
}
div.div_h, div.div_td{
	display:table-cell;
}

div.div_h{
	height:45px;
	background:#e1e4e7;
	padding:0 10px;
	border:2px solid #EEEEEF;
	font-size:13px;
	font-weight:normal;
	color:#6d6e71;
}
.tbody{
	display:table-row-group;
}
.col1, .col2,.col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10,  .col11{
	
	vertical-align: middle;
	height:50px;
	border:2px solid #EEEEEF;
	text-align:center;
	font-size:16px;
	color:#000;
	
} 
.col1{
	width:10%;
}
.col2{
	width:20%;
}
.col3{
	width:300px;
}
.col4{
	width:100px;
}
.col5{
	width:10%;
}

.col6{
	width:10%;
}

.col7{
	width:50px;
}
.inp_count{
	border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 50px;
}
.col8{
	width:10%;
}

.col10{
	width:50px;
}
.col11{
    width:44px;
}
div.col11 a.a_notebook_add{
   width: 40px;
height: 44px;
background: transparent url("images/phone_mail_sprite_secret.png") no-repeat scroll -257px -81px;
display: block;
margin: 0 2px;
}
div.col9 a{
	display:block;
	text-align:center;
	height:32px;
	width:127px;
	margin:0 auto;
	line-height:32px;
	text-decoration:none;
	border-radius:5px;
        
        border-bottom:4px solid #73a534;
	
	background:#8ec63f;
        
	font-size:13px;
	color:#fff;

}

#body table{
	width:100%;
	border-collapse:collapse;
}
#body table th{
	background:#e1e4e7;
	height:45px;
	border:2px solid #EEEEEF;
	font-size:13px;
	font-weight:normal;
	color:#6d6e71;
}
#body table td{
	height:50px;
	border:2px solid #EEEEEF;
	text-align:center;
	font-size:16px;
	color:#000;
}
a.del_backet_button{
display:block;
	text-align:center;
	height:32px;
	width:127px;
	margin:0 auto;
	line-height:32px;
	text-decoration:none;
	background:#ec1c23;
	border-radius:5px;
	border-bottom:4px solid #bd1e2c;
	font-size:13px;
	color:#fff;
}
/*#partlist table a{
	display:block;
	text-align:center;
	height:32px;
	width:127px;
	margin:0 auto;
	line-height:32px;
	text-decoration:none;
	background:#ec1c23;
	border-radius:5px;
	border-bottom:4px solid #bd1e2c;
	font-size:13px;
	color:#fff;
}
#partlist table td.parttable_description{
	width:300px;
}*/
#backet_confirm_clear_button{
	width:100%;
	position:relative;
	height:50px;
	margin-bottom:20px;
}
#backet_confirm_clear_button  a.backet_confirm_btn, #backet_confirm_clear_button  a.backet_clear_btn{
	display:block;
	position:absolute;
	top:10px;
	/*left:0;*/
	text-align:center;
	height:32px;
	width:127px;
	margin:0 auto;
	line-height:32px;
	text-decoration:none;
	background:#ec1c23;
	border-radius:5px;
	border-bottom:4px solid #bd1e2c;
	font-size:13px;
	color:#fff;
}
#backet_confirm_clear_button  a.backet_clear_btn{
	right:50px;
	background:#e1e4e7;
	border-bottom:4px solid #6e7d94;
	color:#000;
	width:140px;
}
#backet_confirm_clear_button  a.backet_confirm_btn{
	left:50px;
}
.shipment{
	width:105px;
	margin:0 auto;
}
.shipment_progress{
	height:8px;
	background:url(images/phone_mail_sprite_secret.png) 0 -72px no-repeat;
}
.shipment_pointer{
	height:10px;
}
.pointer{
	height:10px;
	background:url(images/phone_mail_sprite_secret.png) -158px -10px no-repeat ;
	width:10px;
	margin-left:-5px;
}
.parts_rating{
	height:13px;
	width:68px;
	margin:0 auto;
	background:url(images/phone_mail_sprite_secret.png) no-repeat;
}
.rating0{
	background-position:0 -154px;
}
.rating1{
	background-position:0 -140px;
}
.rating2{
	background-position:0 -126px;
}
.rating3{
	background-position:0 -112px;
}
.rating4{
	background-position:0 -98px;
}
.rating5{
	background-position:0 -84px;
}
#toggle_search{
	margin:20px 0;
}
#search_collapse{
	height:23px;
}
#search_collapse a{
	display:block;
	height:23px;
	
	width:60px;
	margin:-11px auto 0;
}
a.search_collapse{
	background:url(images/phone_mail_sprite_secret.png) -90px -84px no-repeat;
}
a.search_uncollapse{
	background:url(images/phone_mail_sprite_secret.png) -90px -112px no-repeat;
}
a.img_parts{
	margin:0 auto;
	display:block;
	width:35px;
	height:35px;
	background:url(images/phone_mail_sprite_secret.png) -178px -2px no-repeat;
	border:none;
	border-radius:0;
}
a.img_parts_no{
	display:block;
	width:35px;
	height:35px;
	background:url(images/phone_mail_sprite_secret.png) -178px -44px no-repeat;
	border:none;
	border-radius:0;
	pointer-events: none;
    cursor: default;
	 margin: 0 auto;
}
#search{
	width:530px;
	margin:53px auto;
}
#search p{
	text-align:center;
	margin:20px 0; 
	font-size:18px;
	color:#ed1c24;
}
#search h1{
	text-align:center;
	margin-bottom:33px;
}
#search h6{
	text-align:center;
	font-size:14px;
}








/*����� ��� ������� �������� �����*/
#user-content {
	min-width:800px;
	max-width:1280px;
	margin:20px auto;
	padding:20px;
}
#user-content h1{
	text-align:center;
}
#user-content h4{
	text-align:center;
	font-size:18px;
	margin:20px 0;
}

#user-content td.userdata_td{
	width:50%;
	border:0;
}
table.userdata_td_table  td{
	text-align:left !important;
	border:0 !important;
}
#user-content table.userdata{
	width:100%;
}
.userdata_td_table_td_1{
	font-size:16px;
	color:#58595b;
	font-weight:bold;
	width:220px;
}
.userdata_td_table_td_2{
	font-size:16px;
	color:#6f7e95;
}
.userdata_td_table_td_3{
	width:40px;
}
.userdata_td_table_td_3 a{
	display:block;
	height:22px;
	width:22px;
	background:url(images/phone_mail_sprite_secret.png) -178px -84px no-repeat;
	margin:0 auto;
}
.userdata_td_table td{
	height:45px;
}
.userdata_td_right{
	position:relative;
}
#user-cabinet-backet{
	background:#f0f1f1;
	position:absolute;
	top:0;
	bottom:0;
	left:20px;
	width:380px;
	border-top:6px solid #e6e7e9;
	padding:20px;
}
#user-cabinet-backet hr{
	margin:10px 0;
}
#user-cabinet-backet p{
	text-align:center;
	font-size:16px;
	color:#58595b;
	margin:10px 0;
}
#user-cabinet-backet p span{
	font-weight:bold;
}
.user-cabinet-backet_table_1 , .user-cabinet-backet_table_2{
	width:100%;
}
.user-cabinet-backet_table_1 td, .user-cabinet-backet_table_2 td{
	width:50%;
}
.user-cabinet-backet_td_1{
	font-size:16px;
	color:#58595b;
}
.user-cabinet-backet_td_2{
	font-weight:bold;
}
.user-cabinet-backet_btn{
	display:block;
	width:180px;
	height:32px;
	margin:0 auto;
	background:#EC1C23;
	text-align:center;
	line-height:32px;
	text-decoration:none;
	border-bottom:4px solid #BD1E2C;
	border-radius:5px;
	cursor:pointer;
	font-size:13px;
	color:#fff;
	 outline: none;
}
.user-cabinet-backet_btn:active{
	background:#dc232a;
	border-bottom:none;
	border-top:4px solid #BD1E2C;
	 outline: none;
}
.a_edit_password{
	color:#ed1c24;
	font-size:16px;
	
}
table.user-content-car-garage{
	width:100%;
	margin:20px;
	border-collapse:collapse;
}
#modal_window{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:black;
	z-index:1;
	opacity:0.5;
}
#modal_window_container{
	width:700px;
	height:500px;
	position: fixed;
	z-index: 1;
}
#modal_window_container_back_button, #modal_window_container_next_button{
	position:absolute;
	top:0;
	width:100px;
	height:100%;
	background:url(/images/next_prev.png) no-repeat;
	background-position:center;
}
#modal_window_container_back_button{
	left:0;
	background-position: -145px center;
}
 #modal_window_container_next_button{
	right:0;
	background-position: -5px center;
}
#modal_window_container_content{
	background: none repeat scroll 0 0 white;
    border: 4px solid #eeeeef;
    border-radius: 10px;
    height: 100%;
    left: 100px;
    position: absolute;
    width: 500px;
}
#modal_window_container_information{
	position:absolute;
	width:500px;
	/*left:100px;*/
	top:-100px;
	line-height:500px;
	z-index:1;
	height:100px;
	/*background:red;*/
	
}
#modal_window_container_information h2{
	color: #fff;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
}

.editabled{
	background:url(images/phone_mail_sprite_secret.png) -178px -107px no-repeat !important;
}


















#bottom-menu{
	height: 40px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
}
#garant{
	height:170px;
	/*margin-bottom:-170px;*/
}




#footer{
	background-color: #58595b;
    height: 170px;
    margin-top: -170px;
    padding-top: 40px;
    position: relative;
}
#footer-content{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	height:97px;
	/*margin-top:33px;*/
	max-width:1280px;
	min-width:800px;
	margin:33px auto 0;
	padding-left: 170px;
}
#footer-logo{
	
	margin-left: -170px;
	height:60px;
	width:170px;
	float:left;
}
#footer-logo a{
	display:block;
	background:url(images/logo_secret.png) no-repeat 0px -137px;
	height:60px;
	width:170px;
}
#body div.pages_div{
    margin:20px 50px;
}

#newsslider{
	position: fixed;	
	left:0px;
	height: 200px;
	
	
	top:0;
	bottom: 0;
	margin: auto;
	width: 40px;
	
}
#newscortcut{
	height:100%;
	position: absolute;
	width:40px;
	background: #e6e7e9;
	right:0;
	border-radius: 0 10px 10px 0;
	color:white;
        top: 0;
	cursor: pointer;
        border: 1px solid #79A7F6;
}
#newscortcut p{
	width: 200px;
	height: 40px;
	color:white;
	text-align: center;
	
	font-size: 18px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	transform-origin: left top 0;
	margin-left:30px;
	

}
#newsbody{
	height:100%;
	background: white;
	overflow: hidden;
	margin-right: 40px;
        padding: 0 10px;
        border: 1px solid #e6e7e9;
}

div#notebook{
    position: fixed;	
	right:0px;
	height: 44px;
	top:0;
	bottom: 0;
        cursor: pointer;
	margin: auto;
	width: 40px;
        background: url(images/phone_mail_sprite_secret.png) no-repeat -214px -81px;
}
div#notebook p{
    text-align: center;
    line-height: 44px;
    color: #fff;
}


div#noteaddwindow{
    position: absolute;
    right:0;
    bottom:0;
    width:500px;
    height:300px;
    background:#e6e7e9;
    border-radius:10px;
    border: 1px solid #79A7F6;
    text-align: center;
}
div#noteaddwindow input[type=text]{
    width:300px;
    height:40px;
    text-align: center;
    margin:10px 0;
}
div#noteaddwindow textarea{
    width:300px;
    height:100px;
    border-radius:5px;
    margin:10px 0;
}
div#noteaddwindow_submit{
    width:300px;
    height:40px;
    border-bottom:4px solid #BD1E2C;
	text-align:center;
	border-radius:5px;
	background:#EC1C23;
	margin: 0 auto;
	cursor:pointer;
	font-size:21px;
	color:#fff;
}